//@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #000e14;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 40%;
    border: 2px solid #fff;
    height: auto;
    max-width: 180px;
  }
header{
    display: block;
    padding-top: 3em;
    padding-bottom: 20em;
    text-align: center;
    background-image: linear-gradient(62deg, #000e14 0%, #001929 100%); 
}

header h1{
    display: block;
    margin-bottom: -1em;
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
    text-shadow: 0 0 3px #fff;
}


// +++ CTA
.cta{
    margin: 18em;
}

.links{
    background-color: #FF0000;
    text-decoration: none;
    color: white;
    margin-right: .3em;
    padding: .5em;
    font-family: 'Rubik', sans-serif;
    border-radius: .3em;
    transition: .5s;
    box-shadow: 0 0 10px #FF0000;  

    &:hover{
        background: #db0000;
        border-radius: .5em;
        }
}

.cta2{
    background-color: #D60057;
    text-decoration: none;
    color: white;
    margin-right: .3em;
    padding: .5em;
    font-family: 'Rubik', sans-serif;
    border-radius: .3em;
    transition: .5s;
    box-shadow: 0 0 10px #D60057;  

    &:hover{
        background: #ad0046;
        border-radius: .5em;
        }
}

.cta3{
    display: inline-block;
    background-color: #222222;
    text-decoration: none;
    margin-top: 1em;
    color: white;
    margin-right: .3em;
    padding: .5em;
    font-family: 'Rubik', sans-serif;
    border-radius: .3em;
    transition: .5s;
    box-shadow: 0 0 10px #222222; 

    &:hover{
        background: #171717;
        border-radius: .5em;
        }
}

.cta4{
    background-color: #5865F2;
    text-decoration: none;
    margin-top: 1em;
    color: white;
    margin-right: .3em;
    padding: .5em;
    font-family: 'Rubik', sans-serif;
    border-radius: .3em;
    transition: .5s;
    box-shadow: 0 0 10px #5865F2; 

    &:hover{
        background: #404dd6;
        border-radius: .5em;
        }
}
// --- CTA  

// FOOOOOOOOOOTER lol 
.footer{
    padding: 1.5em;
    background-color: #000508;
}


.footer-text-main{
    color: #525252;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

.footer-odkazy{
    color: gray;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    font-size: .7em;
    text-transform: uppercase;
}

.footer-odkazy li{
    display: inline-block;
}

.footer-odkazy-text{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: underline;
    color: #333333;
    display: inline-block;
}

@media screen and (min-width: 480px){

    header{
        padding-bottom: 32em;
    }
}


// PC / TABLET
@media screen and (min-width: 1024px){
    header{
        padding-bottom: 53em;
    }
}

@media screen and (min-width: 1080px){

    .cta{
        margin-top: -.5em;
    }

    .hero-img{
        height: 10em;
    }

    header{
        padding-bottom: 23em;
    }

    header h1{
        display: inline-block;
        margin: 0em;
        font-size: 4em;
        text-shadow: 0 0 3px rgb(128, 128, 128);
    }

    .links{
        margin-right: .5em;
        font-size: 1.3em;
        padding: .9em;
        border-radius: .5em;
    }
    .cta2{
        margin-right: .5em;
        font-size: 1.3em;
        padding: .9em;
        border-radius: .5em;
    }
    .cta3{
        margin-right: .5em;
        font-size: 1.3em;
        padding: .9em;
        border-radius: .5em;
    }
    .cta4{
        margin-right: .5em;
        font-size: 1.3em;
        padding: .9em;
        border-radius: .5em;
    }
}