@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');
* {
  user-select: none;
  font-family: 'Nunito', sans-serif;
}

body {
    background: hsl(323, 53%, 80%);
    color: #ff0000;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

img {
  border-radius: 50%;
  border: 2px solid #fff;
}


.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    max-width: 200px;
  }

.profile-name {
      font-family: 'KoHo', sans-serif;
      text-align: center;
      padding: 30px;
  }

a {
    text-decoration: none;    
    color: white;
    transition: color 2s; 
    font-weight: bold;
}
b {
  text-decoration: none;
  color: white;
  transition: color 2s; 
}
a.links {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid white;
  border-width: 5px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px 50px;
}
b.pages {
  text-align: center;
  display: block;
}
div {
  text-align: center;
  margin-top: 20px;
}
.bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background: #60ecc9;
    transition: 0.5s;
}
